* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}
/* Scrolbar  */
html::-webkit-scrollbar {
  width: 5px;
  background-color: var(--bg-color);
}
html::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 5rem;
}
html::-webkit-scrollbar-track {
  background: black;
}
/* html::-webkit-scrollbar-thumb:hover {
  background: blue;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,400&display=swap");
:root {
  --main-color: rgb(240, 59, 59);
  --text-color: #ffffff;
  --bg-color: #020307;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 2000px;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  transition: 0.5s;
  background-color: var(--bg-color);
}
.logo {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.navbar {
  display: flex;
  align-items: center;
  column-gap: 3rem;
}
.navbar li {
  position: relative;
}
.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
}
.navbar a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.5s;
}
.navbar a:hover::after {
  width: 100%;
}
.btn {
  background-color: var(--main-color);
  padding: 0.7rem 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  border-radius: 0.5rem;
}
.navbar .active::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.5s;
}
.btn:hover {
  background-color: rgb(250, 8, 8);
}

/* Homw Cover Section */
.container {
  width: 100%;
  min-height: 640px;
  position: relative;
  display: flex;
  align-items: center;
}
.container img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  opacity: 0.5;
  padding: 0px;
}
.home-text {
  padding-left: 150px;
}
.home-text span {
  color: var(--text-color);
  font-weight: 500;
  text-transform: uppercase;
}
.home-text h1 {
  color: var(--text-color);
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.home-text .play {
  position: absolute;
  right: 4rem;
  bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.home-text .play .bx {
  color: var(--text-color);
  font-size: 2rem;
  background-color: var(--main-color);
  border-radius: 50%;
  padding: 10px;
  border: 4px solid rgb(2, 3, 7, 0.4);
  transition: 0.5s;
}
.home-text .play .bx:hover {
  transform: scale(1.1);
  filter: brightness(1.4);
}

/* movie heading */
.heading {
  max-width: 960px;
  margin: 10px auto 10px auto;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid var(--main-color);
}

.movie-container {
  max-width: 960px;
  margin: 0px auto 0px auto;
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 1rem;
  margin-top: 2rem;
}
.box .box-img {
  width: 100%;
  height: 270px;
}
.box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  transition: 0.5s;
  box-sizing: 10px 10px 10px #fefefe02;
}
.box h3 {
  margin-top: 2rem;
}
.box .box-img img:hover {
  transform: translateY(-10px);

  filter: brightness(1);
}
/* 
Contact Section */
.contact {
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.contact h2 {
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 10px;
}
.contact form {
  background-color: var(--text-color);
  padding: 10px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact form .email {
  background-color: var(--text-color);
  width: 200px;
  border: none;
  outline: none;
  /* padding: 10px;
  border-radius: 10px; */
}
.contact .btn {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
}

/* footer */
.footer {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.social-media {
  display: flex;
  gap: 0.5rem;
}
.social-media .bx {
  background-color: var(--main-color);
  padding: 2px;
  border-radius: 50%;
  font-size: 2rem;
  border: 4px solid rgb(2, 3, 7, 0.4);
  color: var(--text-color);
}
.social-media .bx:hover {
  /* transform: scale(1.1); */
  filter: brightness(1.4);
  transform: 0.5s;
}

.copyright {
  background-color: var(--main-color);
  text-align: center;
  margin-top: 20px;
  padding: 5px 0px;
}

/* Media query for Responsive */

@media (max-width: 1080px) {
  .container .home-text {
    padding: 0px 100px;
  }
}

@media (max-width: 991px) {
  .home-text h1 {
    font-size: 3rem;
  }
  .home-text {
    padding: 0px 4%;
  }
  section {
    padding: 20px 0px;
  }
}

@media (max-width: 900px) {
  .header {
    padding: 12px 4%;
  }
  .navbar {
    display: none;
  }
  .home-text h1 {
    font-size: 2rem;
  }
  .home-text .btn {
    padding: 0.6rem 1.2rem;
  }
  /* .movie-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  } */
  .footer {
    margin: 0px 20px;
  }
}
@media (max-width: 540px) {
  header {
    padding: 18px 50px;
  }
  header .logo {
    font-size: 14px;
  }
  .header .btn {
    padding: 0.4rem 0.7rem;
  }
}
@media (max-width: 470px) {
  /* header .logo {
    font-size: 15px;
    justify-content: space-between;
  } */
  .footer {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
  .content form .email {
    width: auto;
  }
  .copyright {
    padding: 0px 20px;
    font-size: 12px;
  }

  header .logo {
    font-size: 12px;
  }
  .header .btn {
    padding: 0.4rem 0.7rem;
  }
}

@media (max-width: 370px) {
  .home-text h1 {
    font-size: 1.7rem;
  }
  .home-text {
    margin-left: 20px;
  }
  .home-text .play {
    bottom: 8%;
    right: 1rem;
  }
  .home-text .play .bx {
    padding: 7px;
  }
  /* .movie-container {
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
  } */

  .box .box-img {
    height: 240px;
  }
  header {
    padding: 15px 4%;
  }
  header .logo {
    font-size: 12px;
  }
  .header .btn {
    padding: 0.4rem 0.7rem;
  }
}

@media (max-width: 355px) {
  header {
    padding: 0px 4%;
  }
  img {
    min-width: 355px;
  }
  .copyright {
    min-width: 355px;
  }
  .contact {
    min-width: 355px;
  }
}
